* {
    
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal
      
}

.header {
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    justify-content: center; /* Centraliza os itens do menu */
}

.navbar-nav {
    text-align: center; /* Centraliza os itens do menu */
}

.navbar-nav .nav-link {
    padding: 10px 20px; /* Aumenta o espaço ao redor dos links */
}

#stacks {
    height: 500px;
    margin-top: 100px;
}

main {
    margin-top: 100px;
}

.nav-item {
    margin-right: 1em;

}

h1, p, .title {
    color: rgb(255, 255, 255);
}

#sobre {
    background-color: black; /* Cor de fundo do container */
    padding: 50px 0;
}

#helloText {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#typing {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-icons a {
    margin: 0 10px; /* Espaçamento entre os ícones */
    color: #3907ae; /* Cor dos ícones */
    transition: color 0.3s ease; /* Transição suave da cor */
}

.social-icons a:hover {
    color: #007bff; /* Cor dos ícones ao passar o mouse */
}

.profile-pic {
    max-width: 80%; 
    border-radius: 30%; 
    box-shadow: 0 0 20px rgba(233, 228, 228, 0.2); 
    transition: transform 0.3s ease; 
}

.profile-pic:hover {
    transform: scale(1.1); 
}

.social-img {
    margin-right: 10px;
}

.card-body p {
    color: black;
}

body {
    background-color: black;
    color: white;
    
}

.stack {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stack i {
    margin-bottom: 10px;
}

.stack {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

footer form input[type="text"], 
footer form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

footer form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.copy {
    text-align: center;
    margin-top: 20px;
}

.copy p {
    margin-bottom: 10px;
}

.social-links {
    margin-top: 20px;
}

.social-links .bi {
    font-size: 2rem;
    margin-right: 10px;
}

.social-links .bi:hover {
    color: #007bff;
}